.main-title {
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  text-shadow: 5px 5px 7px rgb(0, 0, 0);
}

.main-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  /* background-image:linear-gradient(to right bottom, skyblue, violet, gold, orange); */
  background-image: radial-gradient(ellipse at top center,
      rgb(255, 255, 255),
      rgb(130, 180, 238),
      rgb(31, 221, 107),
      rgb(144, 0, 255));
}

.box-style {
  border: 7px solid rgb(0, 0, 0);
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: radial-gradient(circle at center,
      rgb(103, 87, 87),
      rgb(141, 75, 202),
      rgb(106, 106, 204),
      rgb(189, 146, 189),
      rgb(164, 205, 221),
      white);
  padding-top: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: rotate3d(1, 1, 1, 0deg);
  transition: transform 4s linear 450ms;
}

.box-style:hover {
  transform: rotate3d(1, 1, 1, 360deg);
}

.card-dish {
  border: 10px double rgb(124, 48, 223);
  width: 300px;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  text-shadow: 8px 8px 9px rgb(0, 0, 0);
  position: relative;
}

.top-dish {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 25px;
}

.pages-list {
  display: flex;
  justify-content: space-around;
  list-style: none;

}

.pages-link {
  font-family: 'Kaushan Script';
  text-decoration: none;
  text-shadow: 3px 1px 3px black;
  font-size: 36px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 103, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.card-dish:hover .overlay {
  opacity: 1;
}

img {
  width: 100%;
}

.dogs-card:hover {
  box-shadow: 1px 2px 8px 5px rgb(129, 40, 255);
  border-color: rgb(0, 170, 255);
}

button {
  background-color: rgba(59, 25, 183, 0.763);
  color: black;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  >>>>>>>a28632d283e34c4aea24c2ddf1ee2486417f684e
}